Author: Arjun Kumaran

All the Functions used in this notebook can be found in the Helper_Function_Hypothesis_2.py file

In [2]:
import os
import pandas as pd
import numpy as np
import requests, zipfile, io
from matplotlib import rcParams
rcParams['figure.figsize'] = 11.7,15
import Helper_Function_Hypothesis_2 as hf

import warnings
warnings.filterwarnings("ignore")

In [3]:
pd.set_option('display.max_rows', 10000)
pd.set_option('display.max_columns', 50)
pd.set_option('expand_frame_repr', False)

In [4]:
df = pd.read_csv("https://github.com/Venkat3103/2022Fall_projects/blob/main/ipl_2018_2020_bbb.csv?raw=true")
match_info = pd.read_csv("https://raw.githubusercontent.com/Venkat3103/2022Fall_projects/main/ipl_match_info.csv")
bowler_info = pd.read_excel("https://github.com/Venkat3103/2022Fall_projects/blob/main/bowler_info.xlsx?raw=true")
teamsheet = pd.read_csv('https://raw.githubusercontent.com/Venkat3103/2022Fall_projects/main/teamsheet.csv')

In [5]:
df.head()

   Unnamed: 0  match_id season  start_date                               venue  innings  ball      batting_team         bowling_team    striker non_striker   bowler  runs_off_bat  extras  wides  noballs  byes  legbyes  penalty wicket_type player_dismissed  other_wicket_type  other_player_dismissed
0           0   1136564   2018  2018-04-09  Rajiv Gandhi International Stadium        1   0.1  Rajasthan Royals  Sunrisers Hyderabad  AM Rahane   DJM Short  B Kumar             0       0    NaN      NaN   NaN      NaN      NaN         NaN              NaN                NaN                     NaN
1           1   1136564   2018  2018-04-09  Rajiv Gandhi International Stadium        1   0.2  Rajasthan Royals  Sunrisers Hyderabad  AM Rahane   DJM Short  B Kumar             1       0    NaN      NaN   NaN      NaN      NaN         NaN              NaN                NaN                     NaN
2           2   1136564   2018  2018-04-09  Rajiv Gandhi International Stadium        1   0.3  Rajasthan Royals  Sunrisers Hyderabad  DJM Short   AM Rahane  B Kumar             0       0    NaN      NaN   NaN      NaN      NaN         NaN              NaN                NaN                     NaN
3           3   1136564   2018  2018-04-09  Rajiv Gandhi International Stadium        1   0.4  Rajasthan Royals  Sunrisers Hyderabad  DJM Short   AM Rahane  B Kumar             0       1    1.0      NaN   NaN      NaN      NaN         NaN              NaN                NaN                     NaN
4           4   1136564   2018  2018-04-09  Rajiv Gandhi International Stadium        1   0.5  Rajasthan Royals  Sunrisers Hyderabad  DJM Short   AM Rahane  B Kumar             4       0    NaN      NaN   NaN      NaN      NaN         NaN              NaN                NaN                     NaN

In [6]:
if not os.path.exists('competition_data'):
    os.mkdir('competition_data')
    req = requests.get("https://cricsheet.org/downloads/ipl_male_csv2.zip")
    z = zipfile.ZipFile(io.BytesIO(req.content))
    z.extractall("competition_data/ipl")

In [7]:
df.drop(columns={"Unnamed: 0"},inplace=True)

In [8]:
df.ball.unique()

array([ 0.1,  0.2,  0.3,  0.4,  0.5,  0.6,  0.7,  1.1,  1.2,  1.3,  1.4,
        1.5,  1.6,  2.1,  2.2,  2.3,  2.4,  2.5,  2.6,  3.1,  3.2,  3.3,
        3.4,  3.5,  3.6,  4.1,  4.2,  4.3,  4.4,  4.5,  4.6,  4.7,  5.1,
        5.2,  5.3,  5.4,  5.5,  5.6,  6.1,  6.2,  6.3,  6.4,  6.5,  6.6,
        6.7,  7.1,  7.2,  7.3,  7.4,  7.5,  7.6,  8.1,  8.2,  8.3,  8.4,
        8.5,  8.6,  9.1,  9.2,  9.3,  9.4,  9.5,  9.6, 10.1, 10.2, 10.3,
       10.4, 10.5, 10.6, 11.1, 11.2, 11.3, 11.4, 11.5, 11.6, 12.1, 12.2,
       12.3, 12.4, 12.5, 12.6, 13.1, 13.2, 13.3, 13.4, 13.5, 13.6, 14.1,
       14.2, 14.3, 14.4, 14.5, 14.6, 15.1, 15.2, 15.3, 15.4, 15.5, 15.6,
       16.1, 16.2, 16.3, 16.4, 16.5, 16.6, 16.7, 17.1, 17.2, 17.3, 17.4,
       17.5, 17.6, 18.1, 18.2, 18.3, 18.4, 18.5, 18.6, 18.7, 19.1, 19.2,
       19.3, 19.4, 19.5, 19.6,  1.7,  2.7,  5.7,  7.7, 11.7, 13.7, 15.7,
        9.7,  8.7, 18.8, 10.7, 12.7, 19.7, 19.8,  0.8,  6.8, 14.7, 17.7,
        2.8, 11.8, 11.9, 15.8,  3.7, 12.8, 12.9, 17.8, 17.9, 14.8,  1.8,
       10.8, 19.9,  3.8,  9.8, 13.8,  5.8,  7.8,  7.9,  8.8, 16.8, 14.9,
        0.9, 18.9,  4.8,  4.9,  1.9,  9.9,  8.9])

In [9]:
df = hf.adjust_ball_number(df)

In [10]:
df.ball.unique()

array([ 0.1,  0.2,  0.3,  0.4,  0.5,  0.6,  1.1,  1.2,  1.3,  1.4,  1.5,
        1.6,  2.1,  2.2,  2.3,  2.4,  2.5,  2.6,  3.1,  3.2,  3.3,  3.4,
        3.5,  3.6,  4.1,  4.2,  4.3,  4.4,  4.5,  4.6,  5.1,  5.2,  5.3,
        5.4,  5.5,  5.6,  6.1,  6.2,  6.3,  6.4,  6.5,  6.6,  7.1,  7.2,
        7.3,  7.4,  7.5,  7.6,  8.1,  8.2,  8.3,  8.4,  8.5,  8.6,  9.1,
        9.2,  9.3,  9.4,  9.5,  9.6, 10.1, 10.2, 10.3, 10.4, 10.5, 10.6,
       11.1, 11.2, 11.3, 11.4, 11.5, 11.6, 12.1, 12.2, 12.3, 12.4, 12.5,
       12.6, 13.1, 13.2, 13.3, 13.4, 13.5, 13.6, 14.1, 14.2, 14.3, 14.4,
       14.5, 14.6, 15.1, 15.2, 15.3, 15.4, 15.5, 15.6, 16.1, 16.2, 16.3,
       16.4, 16.5, 16.6, 17.1, 17.2, 17.3, 17.4, 17.5, 17.6, 18.1, 18.2,
       18.3, 18.4, 18.5, 18.6, 19.1, 19.2, 19.3, 19.4, 19.5, 19.6, 11. ])

Changing Delhi's teamname from Delhi Daredevils to Delhi Capitals as it was officially changed in late December 2018 and to make it consistent in the dataset.

In [11]:
df["batting_team"] = np.where(df["batting_team"] == "Delhi Daredevils", "Delhi Capitals", df["batting_team"])
df["bowling_team"] = np.where(df["bowling_team"] == "Delhi Daredevils", "Delhi Capitals", df["bowling_team"])

In [12]:
match_info = match_info.replace("Delhi Daredevils", "Delhi Capitals")

In [13]:
df = df.rename(columns={'2020/21': '2020'})

In [14]:
df['is_wicket'] = np.where(df['wicket_type'].isnull(),0,1)

In [15]:
df.head()

   match_id season  start_date                               venue  innings  ball      batting_team         bowling_team    striker non_striker   bowler  runs_off_bat  extras  wides  noballs  byes  legbyes  penalty wicket_type player_dismissed  other_wicket_type  other_player_dismissed  is_wicket
0   1136564   2018  2018-04-09  Rajiv Gandhi International Stadium        1   0.1  Rajasthan Royals  Sunrisers Hyderabad  AM Rahane   DJM Short  B Kumar             0       0    NaN      NaN   NaN      NaN      NaN         NaN              NaN                NaN                     NaN          0
1   1136564   2018  2018-04-09  Rajiv Gandhi International Stadium        1   0.2  Rajasthan Royals  Sunrisers Hyderabad  AM Rahane   DJM Short  B Kumar             1       0    NaN      NaN   NaN      NaN      NaN         NaN              NaN                NaN                     NaN          0
2   1136564   2018  2018-04-09  Rajiv Gandhi International Stadium        1   0.3  Rajasthan Royals  Sunrisers Hyderabad  DJM Short   AM Rahane  B Kumar             0       0    NaN      NaN   NaN      NaN      NaN         NaN              NaN                NaN                     NaN          0
3   1136564   2018  2018-04-09  Rajiv Gandhi International Stadium        1   0.4  Rajasthan Royals  Sunrisers Hyderabad  DJM Short   AM Rahane  B Kumar             0       1    1.0      NaN   NaN      NaN      NaN         NaN              NaN                NaN                     NaN          0
4   1136564   2018  2018-04-09  Rajiv Gandhi International Stadium        1   0.4  Rajasthan Royals  Sunrisers Hyderabad  DJM Short   AM Rahane  B Kumar             4       0    NaN      NaN   NaN      NaN      NaN         NaN              NaN                NaN                     NaN          0

Overall IPL Batting Statistics for each player

In [16]:
batting_data = hf.get_batting_data(df)
batting_data = batting_data.sort_values(by="Runs Scored",ascending=False).head(10)
batting_data

             Player  Runs Scored  Balls Faced  Times Dismissed  Innings Played  Batting Average  Batting Strike Rate
83         KL Rahul         1928         1378               37              42        52.108108           139.912917
147        S Dhawan         1636         1174               43              49        38.046512           139.352641
143         RR Pant         1523         1001               37              44        41.162162           152.147852
181         V Kohli         1465         1095               36              43        40.694444           133.789954
153        SA Yadav         1416         1039               39              44        36.307692           136.284889
166         SS Iyer         1397         1119               42              46        33.261905           124.843610
2    AB de Villiers         1382          852               29              38        47.655172           162.206573
164       SR Watson         1252          918               41              43        30.536585           136.383442
13        AT Rayudu         1243          987               35              44        35.514286           125.937183
37        DA Warner         1240          889               25              28        49.600000           139.482565

Overall IPL Bowling Statistics for each player

In [17]:
bowling_data = hf.get_bowling_data(df)
bowling_data = bowling_data.sort_values(by="Wickets Taken",ascending=False).head(10)
bowling_data

             Bowler  Balls Bowled  Runs Conceded  Wickets Taken  innings_played  Economy Rate  Balls Per Wicket  Bowling Average
60        JJ Bumrah          1070         1209.0             66              45      6.779439         16.212121        18.318182
121     Rashid Khan          1159         1189.0             58              48      6.155306         19.982759        20.500000
69         K Rabada           685          925.0             58              29      8.102190         11.810345        15.948276
157       YS Chahal           939         1154.0             51              43      7.373802         18.411765        22.627451
147        TA Boult           778         1101.0             48              34      8.491003         16.208333        22.937500
57        JC Archer           825          981.0             46              35      7.134545         17.934783        21.326087
38        DL Chahar           928         1156.0             44              43      7.474138         21.090909        26.272727
100  Mohammed Shami           737         1081.0             42              32      8.800543         17.547619        25.738095
125         S Gopal           774         1010.0             41              38      7.829457         18.878049        24.634146
142  Sandeep Sharma           832         1059.0             38              36      7.637019         21.894737        27.868421

# Hypothesis - 2

Teams which adhere to pitch conditions increase their chances of winning.

Cricket is a game which is hugely affected by the pitch condition (i.e. the soil on
which the game is being played on). Different approaches work in different
conditions. We analyze what kind of strategies have been incorporated
throughout the season in general in particular venues and whether or not the
successful teams have gone to follow the pattern. Every decision on the field is
completely taken by the captain of the team and we will analyze the strategies
incorporated by successful teams.